Makefile
Makefile.in

/config.cache
/config.log
/config.status
/config.sub
/config.guess
/autom4te.cache
/configure
/aclocal.m4
/install-sh
/missing
/depcomp
/test-driver
/bin
x86_64
mkinstalldirs
xmaxima-local
maxima-local
maxima.spec
maxima*.iss
Output

maxout.*
maxima*.tar.gz

/binary
*~
*.ERR

tags
TAGS

parts
build
abcl.jar
\#*
.\#*

src/tools
gp_image_01.png
