*.log
*-test.sh*
!threadcheck-driver-test.sh
test-suite.log
300.png
600.png
animated_gif.gif
multipage.eps
a4portrait.eps
multipage.eps
test.sh
depcheck.sh
*-depcheck.sh*
threadcheck.sh
*-thread-bindings.sh*
*-thread-race.sh*
bin

sbcl-runtime-options.sh*
