Makefile
Makefile.in
contents.hhc
index.hhk
maxima.info
maxima.aux
maxima.cp
maxima.fn
maxima.fns
maxima.log
maxima.pdf
maxima.pg
maxima.toc
maxima.tp
maxima.vr
maxima.ky
*.html
maxima-index.lisp
maxima.info-*
texinfo.tex
