Makefile
Makefile.in

maxima.info*
*.html

contents.hhc
include-maxima.texi
index.hhk
maxima.html
maxima-index.lisp

/maxima.chm
maxima.t2p
maxima.pdf
maxima.vrs
maxima.aux
maxima.fn
maxima.fns
maxima.log
maxima.t2d
maxima.toc
maxima.vr
*chm
bin
texi2html.init