Makefile
Makefile.in

maxima.info*
*.html

data.txt

contents.hhc
include-maxima.texi
index.hhk
maxima.html
maxima-index.lisp

*.chm
*.t2p
*.pdf
*.vrs
*.aux
*.fn
*.fns
*.log
*.t2d
*.toc
*.vr
*chm
bin
texi2html.init
build_html.sh
tmp_html
extract_categories.sh
tmpfile