--- interfaces/emacs/imaxima/setup-imaxima-imath.el-orig	2016-04-02 17:07:12.551979324 +0200
+++ interfaces/emacs/imaxima/setup-imaxima-imath.el	2016-04-02 17:19:55.837294267 +0200
@@ -27,15 +27,15 @@
   "MiKTeX bin directory, added to exec-path")
 
 (defvar *imaxima-maxima-el-dir*
-  (file-name-directory (car (file-expand-wildcards "c:/Program Files*/Maxima*/share/maxima/*/emacs/maxima.el")))
+  (file-name-directory (car (file-expand-wildcards "c:/maxima-@MAXIMAVERSION@/share/maxima/*/emacs/maxima.el")))
   "Maxima emacs mode maxima.el directory, added to load-path")
 
 (defvar *imaxima-maxima-bin-dir*
-  (file-name-directory (car (file-expand-wildcards "c:/Program Files*/Maxima*/bin/maxima.bat")))
+  (file-name-directory (car (file-expand-wildcards "c:/maxima-@MAXIMAVERSION@/bin/maxima.bat")))
   "Maxima bin directory, added to exec-path")
 
 (defvar *imaxima-maxima-info-dir*
-  (file-name-directory (car (file-expand-wildcards "c:/Program Files*/Maxima*/info/maxima.info")))
+  (file-name-directory (car (file-expand-wildcards "c:/maxima-@MAXIMAVERSION@/info/maxima.info")))
   "Maxima info directory, added to Info-additional-directory-list")
 
 (if (not (boundp 'Info-additional-directory-list))
