#!/bin/sh
WINEPREFIX=@CMAKE_BINARY_DIR@/wine
export WINEPREFIX
# do not install (and pop up a window) for Mono and Gecko - not needed.
WINEDLLOVERRIDES="mscoree,mshtml="
export WINEDLLOVERRIDES
# drive Z: is mapped to the root of the unix filesystem when using wine.
SBCL_HOME=Z:@CMAKE_BINARY_DIR@/sbcl/
export SBCL_HOME
unset DISPLAY
@WINE_EXE@ @CMAKE_BINARY_DIR@/sbcl/sbcl.exe --core @CMAKE_BINARY_DIR@/sbcl/sbcl.core "$@"
