#!/bin/sh
# SPDX-License-Identifier: GPL-2.0-or-later
WINEPREFIX=@CMAKE_BINARY_DIR@/wine
export WINEPREFIX
# do not install (and pop up a window) for Mono and Gecko - not needed.
WINEDLLOVERRIDES="mscoree,mshtml="
export WINEDLLOVERRIDES
unset DISPLAY
@WINE_EXE@ @CMAKE_BINARY_DIR@/clisp-prefix/src/clisp/base/lisp.exe "$@"
