[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=xmaxima
GenericName=GUI for Maxima, a Computer Algebra system
GenericName[de]=Eine grafische Oberfläche für Maxima
Comment=A graphical interface to the Maxima, the Computer Algebra System
Comment[de]=Eine grafische Oberfläche für Maxima, ein Programm für Symbolische und Numerische Berechnungen
Exec=xmaxima
Icon=maxima-new
Type=Application
Terminal=false
Categories=Education;Math;
Keywords=maths;cas;algebra;education;engineering;physics;
